<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js | Audio streaming tutorial</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <script src="/JS/Index.js"></script>
</head>
<body>
    <h2>EverybodyBackstreetsBack</h2>
    <audio src="/Songs/EverybodyBackstreetsBack" controls type="audio/mpeg3" class="player"></audio>

    <h2>MyHeartWillGoOnLove_Theme-Titanic</h2>
    <audio src="/Songs/MyHeartWillGoOnLove_Theme-Titanic" controls type="audio/mpeg3" class="player"></audio>

    <h2>BlindingLights-Instrumental</h2>
    <audio src="/Songs/BlindingLights-Instrumental" controls type="audio/mpeg3" class="player"></audio>
</body>
</html>